@page "/"
@inject Services.SearchData SearchData
@inject NavigationManager NavigationManager

    <h3>Enter search terms:</h3>

<EditForm Model="@_searchQueryModel" OnValidSubmit="Search">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <InputText class="form-control" id="name" @bind-Value="_searchQueryModel.Query" />
    </div>
    

    <button class="btn btn-primary" type="submit" placeholder="Search Term">Submit</button>
</EditForm>