@page "/"
@inject Services.SearchData SearchData
@inject NavigationManager NavigationManager

    <h1>Enter search terms:</h1>

<EditForm Model="@_searchQueryModel" OnValidSubmit="Search">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="_searchQueryModel.Query" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>