@page "/SearchResults"
@inject Services.SearchData SearchData

<h3>Results:</h3>

<table class="table">
    <thead>
    <tr>
        <th><button class="btn btn-primary" @onclick="ButtonClicked">Add</button></th>
        <th>PMIDS</th>
        <th>Title</th>
        <th>Confidence</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var data in SearchData.PubTatorResults)
    {
        <tr>
            <td><input @bind="@Checks[data.Pmid]" type="checkbox" /></td>
            <td>@data.Pmid</td>
            <td>@data.Title</td>
            <td>@data.Confidence</td>
        </tr>
    }
    </tbody>
</table>
