@page "/SearchResults"
@inject Services.SearchData SearchData

<h3>Results:</h3>

<table class="table">
    <thead>
    <tr>
        <th>PMIDS</th>
        <th>Title</th>
        <th>Confidence</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var data in GetResponses(Results))
    {
        <tr>
            <td>@data.Pmid</td>
            <td>@data.Title</td>
            <td>@data.Confidence</td>
        </tr>
    }
    </tbody>
</table>
