@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

    <div class="main">
        <div class="">
            
        </div>

        <div class="top-row">
            <h1 class="card-title">AT/GC Target Locked</h1>
            <a href="https://github.com/balloman/AT-GC-Hatch2020" target="_blank">About</a>
        </div>
        
        <BlazoredModal/>


        <div class="content px-4">
            @Body
        </div>
    </div>
